<!DOCTYPE html>
<html>
  <head>
    <% include headerStuff %>
  </head>
  <body>
    <% include pageHeader %>
    <div class="container"> 
      <h2><%=title %></h2>
    </div>
    <% include footer %>
  </body>
</html>
