    <div class="container bg-dark fixed-top">

        <ul class="nav justify-content-center|justify-content-end">
            <li class="nav-item">
                <a class="nav-link" href="/user/singin">đăng kí</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/user/login">đăng nhập</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/recruitment">Quản lý bài đăng</a>
            </li>
        </ul>
    </div>
