<header>

    <div class="page">     
        <div class="wrap_1920 pageHeader">
            <div class="wrap_1170 ">
                <ul>
                    <li>
                        <a href="/" title="home">
                            <span class="text">Home</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" title="tìm hồ sơ">
                            <span class="icon"></span>
                            <span class="text">tìm hồ sơ</span>
                        </a>
                    </li>

                    <li>
                        <a href="#" title="tài khoản">
                            <span class="icon"></span>
                            <span class="text">tài khoản</span>
                        </a>
                    </li>
                    
                    <li>
                        <a href="/jobs/add" title="đăng tin">
                            <span class="icon"></span>
                            <span class="text">đăng tin</span>
                        </a>
                    </li>
                    
                    <li>
                        <a href="#" title="tìm hồ sơ">
                            <span class="icon"></span>
                            <span class="text">tìm hồ sơ</span>
                        </a>
                    </li>

                    <li>
                        <a href="#" title="quản lý tin đăng">
                            <span class="icon"></span>
                            <span class="text">quản lý tin đăng</span>
                        </a>
                    </li>

                    <li>
                        <a href="#" title="hồ sơ đã lưu">
                            <span class="icon"></span>
                            <span class="text">quản lý tin đăng</span>
                        </a>
                    </li>

                
                </ul>
            </div>
        </div>
    </div>
</header>