<!-- Sidebar Column -->
<div class="col-lg-3 mb-4">
    <div class="list-group">
    <a class="btn-primary rounded-top text-white p-2">Quản lý đăng tuyển</a>
    <a href="/recruitment/list/1" class="list-group-item text-dark">> Việc làm đang đăng</a>
    <a href="/recruitment/list/2" class="list-group-item text-dark">> Việc làm tạm dừng</a>
    <a href="/recruitment/list/3" class="list-group-item text-dark">> Việc làm hết hạn</a>
    </div>
</div>